<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/CSS/navbar.css">
    <link rel="stylesheet" href="../assets/CSS/footer.css">
    <link rel="stylesheet" href="../assets/CSS/scrollbar.css">
    <link rel="stylesheet" href="../assets/CSS/agents.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div>
                <a href="../index.html"><img src="../assets/img/valorant-logo-1.png" alt="logo" class="logo-navbar"></a>
            </div>
            <div class="nav">
                <a id="link" href="#"><span id="burger"></span></a>
                <ul class="ctn-btn">
                    <li><a class="btn" href="maps.html">Maps</a></li>
                    <li><a class="btn" href="agents.html">Agents</a></li>
                    <li><a class="btn"  href="arsenal.html">Arsenal</a></li>
                    <li><a class="btn"  href="Timeline.html">Histoire</a></li>

                </ul>
            </div>
        </div>    
        <script src="../assets/JS/navbar.js"></script>    
    </header>
    
    <div class="placement">
        <div class="dropdown">
            <button class="btn-dropdown">Agents</button>
            <ul class="menu">
                <li><a href="#duelist">Dueliste</a>
                    <ul>
                        <li><a href="#raze">Raze</a></li>
                        <li><a href="#jett">Jett</a></li>
                        <li><a href="#reyna">Reyna</a></li>
                        <li><a href="#yoru">Yoru</a></li>
                        <li><a href="#phoenix">Phoenix</a></li>
                        <li><a href="#neon">Neon</a></li>
                    </ul>
                </li>
                <li><a href="#initiator">Initiateur</a>
                    <ul>
                        <li><a href="#sova">Sova</a></li>
                        <li><a href="#fade">Fade</a></li>
                        <li><a href="#kayo">Kay/o</a></li>
                        <li><a href="#skye">Skye</a></li>
                        <li><a href="#breach">Breach</a></li>
                    </ul>
                </li>
                <li><a href="#controller">Contrôleur</a>
                    <ul>
                        <li><a href="#astra">Astra</a></li>
                        <li><a href="#brimstone">Brimstone</a></li>
                        <li><a href="#harbor">Harbor</a></li>
                        <li><a href="#omen">Omen</a></li>
                        <li><a href="#viper">Viper</a></li>
                    </ul> 
                </li>
                <li><a href="#sentinel">Sentinel</a>
                    <ul>
                        <li><a href="#chamber">Chamber</a></li>
                        <li><a href="#cypher">Cypher</a></li>
                        <li><a href="#killjoy">Killjoy</a></li>
                        <li><a href="#sage">Sage</a></li>
                    </ul>
                </li>           
            </ul>
        </div>
    </div>
    <div class="agent-class duelist" id="duelist">
        <img class="img-class" src="../assets/img/class/DuelistClassSymbol.webp">
        <p class="text-class">Les duellistes sont des tireurs qui peuvent se suffire à eux-mêmes. Ce sont des agents qui ont le plus grand impact, en offrant de l’agression à leur équipe. Un Duelliste devrait être vu en train de chercher des engages et des kills, que ce soit l’élimination opener ou le clutch de fin de round.</p>
    </div>
    
    <div class="page-agent" id="raze">
        <img class="agent-image" src="../assets/img/agents/V_AGENTS_587x900_ALL_Raze_2.png">
    </div>
    <div class="page-agent" id="jett">
        <img class="agent-image" src="../assets/img/agents/V_AGENTS_587x900_Jett.png">
    </div>
    <div class="page-agent" id="reyna">
        <img class="agent-image" src="../assets/img/agents/V_AGENTS_587x900_Reyna.png">
    </div>
    <div class="page-agent" id="yoru">
        <img class="agent-image" src="../assets/img/agents/V_AGENTS_587x900_Yoru.png">
    </div>
    <div class="page-agent" id="phoenix">
        <img class="agent-image" src="../assets/img/agents/V_AGENTS_587x900_Phx.png">
    </div>
    <div class="page-agent" id="neon">
        <img class="agent-image" src="../assets/img/agents/Neon_KeyArt-Web.png">
    </div>               

    <div class="agent-class initiator" id="initiator">
        <img class="img-class" src="../assets/img/class/InitiatorClassSymbol.webp">
        <p class="text-class">Les initiateurs « défient des angles en installant leur équipe pour entrer sur des terres contestées et repousser les défenseurs ». Ces agents excellent souvent en attaque, pour mettre leurs alliés en situation. Breach, KAY/O et Skye offrent des flash ou des étourdissements dans une forme ou une autre, alors que Sova offre de la vision.</p>
    </div>

    <div class="page-agent" id="sova">
        <img class="agent-image" src="../assets/img/agents/V_AGENTS_587x900_ALL_Sova_2.png">
    </div>    
    <div class="page-agent" id="fade">
        <img class="agent-image" src="../assets/img/agents/Fade_Key_Art_587x900_for_Website.png">
    </div>
    <div class="page-agent" id="kayo">
        <img class="agent-image" src="../assets/img/agents/KAYO_KeyArt_587x900.png">
    </div>
    <div class="page-agent" id="skye">
        <img class="agent-image" src="../assets/img/agents/V_AGENTS_587x900_ALL_Skye.png">
    </div>            
    <div class="page-agent" id="breach">
        <img class="agent-image" src="../assets/img/agents/V_AGENTS_587x900_Breach.png">
    </div>    

    <div class="agent-class controller" id="controller">
        <img class="img-class" src="../assets/img/class/ControllerClassSymbol.webp">
        <p class="text-class">Les contrôleurs sont des experts pour s’insérer dans les « terres dangereuses » pour permettre à leur équipe de trouver la victoire. Cela prend souvent la forme de smokes, qui peuvent être utilisées en attaque ou en défense pour bloquer la cible d’une cible mais ralentit, étourdit et flash aussi, parfois.</p>
    </div>
    
    <div class="page-agent" id="astra">
        <img class="agent-image" src="../assets/img/agents/V_AGENTS_587x900_Astra.png">
    </div>
    <div class="page-agent" id="brimstone">
        <img class="agent-image" src="../assets/img/agents/V_AGENTS_587x900_Brimstone.png">
    </div>
    <div class="page-agent" id="harbor">
        <img class="agent-image" src="../assets/img/agents/Harbor_KeyArt-web.png">
    </div>
    <div class="page-agent" id="omen">
        <img class="agent-image" src="../assets/img/agents/V_AGENTS_587x900_Omen.png">
    </div>
    <div class="page-agent" id="viper">
        <img class="agent-image" src="../assets/img/agents/V_AGENTS_587x900_Viper.png">
    </div>                    

    <div class="agent-class sentinel" id="sentinel">
        <img class="img-class" src="../assets/img/class/SentinelClassSymbol.webp">
        <p class="text-class">Les Sentinelles sont des « experts de la défense qui peuvent verrouiller des zones et faire attention aux flanks en attaque et en défense. » Dans une partie faite pour le plant ou le defuse d’un Spike, ces agents sont essentiels. Chamber, Cypher et Killjoy tiennent des sites avec leurs gadgets, alors que Sage met un terme aux push et rotations avec ses ralentissements et barricades.</p>
    </div>

    <div class="page-agent" id="sage">
        <img class="agent-image" src="../assets/img/agents/V_AGENTS_587x900_sage.png">
    </div>
    <div class="page-agent" id="chamber">
        <img class="agent-image" src="../assets/img/agents/WebUpdate_Chamber_KeyArt.png">
    </div>
    <div class="page-agent" id="cypher">
        <img class="agent-image" src="../assets/img/agents/-41603413879ouabscqmfh.png">
    </div>
    <div class="page-agent" id="killjoy">
        <img class="agent-image" src="../assets/img/agents/V_AGENTS_587x900_KillJoy_.png">
    </div>                

    <footer>
        <div class="ctn-gen">
            <div class="ctn-logo">
                <img src="../assets/img/footer/1280px-Valorant_logo_-_pink_color_version.svg.png" alt="logo" class="logo-footer">
            </div>
            <div class="ctn-img">
                <img src="../assets/img/footer/achat-intégrés.jpg" alt="pegi" class="avert-img">
                <img src="../assets/img/footer/pegi_16_black.jpg" alt="violence" class="avert-img">
                <img src="../assets/img/footer/violence-black-FR.jpg" alt="achat" class="avert-img">
            </div>
            <div class="ctn-copyright">
                <p class="copyright">© 2022 Riot Games, Inc.  Riot Games, VALORANT et tous les logos associés sont des marques, des marques de service et/ou des marques déposées de Riot Games, Inc.</p>
            </div>  
        </div>      
    </footer>
</body>
</html>    