<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/CSS/navbar.css">
    <link rel="stylesheet" href="../assets/CSS/footer.css">
    <link rel="stylesheet" href="../assets/CSS/scrollbar.css">
    <link rel="stylesheet" href="../assets/CSS/arsenal.css">
    <link rel="icon" href="assets/img/valorant-logo-1.png">
    <title>VALORANT</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div>
                <a href="../index.html"><img src="../assets/img/valorant-logo-1.png" alt="logo" class="logo-navbar"></a>
            </div>
            <div class="nav">
                <a id="link" href="#"><span id="burger"></span></a>
                <ul class="ctn-btn">
                    <li><a class="btn" href="skin.html">Pack Skin</a></li>
                    <li><a class="btn" href="maps.html">Maps</a></li>
                    <li><a class="btn" href="agents.html">Agents</a></li>
                    <li><a class="btn"  href="arsenal.html">Arsenal</a></li>
                    <li><a class="btn"  href="Timeline.html">Valorant</a></li>

                </ul>
            </div>
        </div>    
        <script src="../assets/JS/navbar.js"></script>    
    </header>

    
    
    <div class="container-page">
        <div class="container">
            <div class="slider">
                <img class="active" src="../assets/img/arme_valorant/couteau.png" alt="">
                <img src="../assets/img/arme_valorant/classic.png" alt="">
                <img src="../assets/img/arme_valorant/frenzy.png" alt="">
                <img src="../assets/img/arme_valorant/ghost.png" alt="">
                <img src="../assets/img/arme_valorant/sheriff.png" alt="">
                <img src="../assets/img/arme_valorant/shorty.png" alt="">
                <img src="../assets/img/arme_valorant/stinger.png" alt="">
                <img src="../assets/img/arme_valorant/spectre.png" alt="">
                <img src="../assets/img/arme_valorant/bucky.png" alt="">
                <img src="../assets/img/arme_valorant/judge.png" alt="">
                <img src="../assets/img/arme_valorant/ares.png" alt="">
                <img src="../assets/img/arme_valorant/bulldog.png" alt="">
                <img src="../assets/img/arme_valorant/phantom.png" alt="">
                <img src="../assets/img/arme_valorant/vandal.png" alt="">
                <img src="../assets/img/arme_valorant/guardian.png" alt="">
                <img src="../assets/img/arme_valorant/marshal.png" alt="">
                <img src="../assets/img/arme_valorant/operator.png" alt="">
                <img src="../assets/img/arme_valorant/odin.png" alt="">     
            </div>
            <div class="cont-btn">
                <div class="btn-nav left">←</div>
                <div class="btn-nav right">→</div>
            </div>
        </div>
    </div>      
    <script src="../assets/JS/carousel.js"></script>    

    <footer>
        <div class="ctn-gen">
            <div class="ctn-logo">
                <img src="../assets/img/footer/1280px-Valorant_logo_-_pink_color_version.svg.png" alt="logo" class="logo-footer">
            </div>
            <div class="ctn-img">
                <img src="../assets/img/footer/achat-intégrés.jpg" alt="pegi" class="avert-img">
                <img src="../assets/img/footer/pegi_16_black.jpg" alt="violence" class="avert-img">
                <img src="../assets/img/footer/violence-black-FR.jpg" alt="achat" class="avert-img">
            </div>
            <div class="ctn-copyright">
                <p class="copyright">© 2022 Riot Games, Inc.  Riot Games, VALORANT et tous les logos associés sont des marques, des marques de service et/ou des marques déposées de Riot Games, Inc.</p>
            </div>  
        </div>      
    </footer>
</body>
</html>    