<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/CSS/navbar.css">
    <link rel="stylesheet" href="../assets/CSS/footer.css">
    <link rel="stylesheet" href="../assets/CSS/scrollbar.css">
    <link rel="stylesheet" href="../assets/CSS/maps.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div>
                <a href="../index.html"><img src="../assets/img/valorant-logo-1.png" alt="logo" class="logo-navbar"></a>
            </div>
            <div class="nav">
                <a id="link" href="#"><span id="burger"></span></a>
                <ul class="ctn-btn">
                    <li><a class="btn" href="skin.html">Pack Skin</a></li>
                    <li><a class="btn" href="maps.html">Maps</a></li>
                    <li><a class="btn" href="agents.html">Agents</a></li>
                    <li><a class="btn"  href="arsenal.html">Arsenal</a></li>
                    <li><a class="btn"  href="Timeline.html">Histoire</a></li>

                </ul>
            </div>
        </div>    
        <script src="../assets/JS/navbar.js"></script>    
    </header>

    <div class="nav-barre-verticale">
        <a class="btn-nav" href="#map1">Ascent</a>
        <a class="btn-nav" href="#map2">Bind</a>
        <a class="btn-nav" href="#map3">Breeze</a>
        <a class="btn-nav" href="#map4">Fracture</a>
        <a class="btn-nav" href="#map5">Haven</a>
        <a class="btn-nav" href="#map6">Icebox</a>
        <a class="btn-nav" href="#map7">Lotus</a>
        <a class="btn-nav" href="#map8">Pearl</a>
        <a class="btn-nav" href="#map9">Split</a>
    </div>
    <div class="map map1" id="map1">
        <span class="title-map">Ascent</span>
        <img class="ctn-map" src="../assets/img/map_valorant/ascent-featured.png"> 
    </div>
    <div class="map map2" id="map2">
        <span class="title-map">Bind</span>
        <img class="ctn-map" src="../assets/img/map_valorant/bind-featured.png">
    </div>
    <div class="map map3" id="map3">
        <span class="title-map">Breeze</span>
        <img class="ctn-map" src="../assets/img/map_valorant/breeze-featured_v1.png">
    </div>
    <div class="map map4" id="map4">
        <span class="title-map">Fracture</span>
        <img class="ctn-map" src="../assets/img/map_valorant/Valorant_FRACTURE_Minimap_Alpha_web.png">
    </div>
    <div class="map map5" id="map5">
        <span class="title-map">Haven</span>
        <img class="ctn-map" src="../assets/img/map_valorant/haven-featured.png">
    </div>
    <div class="map map6" id="map6">
        <span class="title-map">Icebox</span>
        <img class="ctn-map" src="../assets/img/map_valorant/Icebox_transparentbg_for_Web.png">
    </div>
    <div class="map map7" id="map7">
        <span class="title-map">Lotus</span>
        <img class="ctn-map" src="../assets/img/map_valorant/Lotus_MapWebsite_Web.png">
    </div>
    <div class="map map8" id="map8">
        <span class="title-map">Pearl</span>
        <img class="ctn-map" src="../assets/img/map_valorant/PearlLoadingScreen_MapFeaturedImage_930x522.png">
    </div>
    <div class="map map9" id="map9">
        <span class="title-map">Split</span>
        <img class="ctn-map" src="../assets/img/map_valorant/split-featured.png">
    </div>
    <script src="../assets/JS/maps.js"></script>

    <footer>
        <div class="ctn-gen">
            <div class="ctn-logo">
                <img src="../assets/img/footer/1280px-Valorant_logo_-_pink_color_version.svg.png" alt="logo" class="logo-footer">
            </div>
            <div class="ctn-img">
                <img src="../assets/img/footer/achat-intégrés.jpg" alt="pegi" class="avert-img">
                <img src="../assets/img/footer/pegi_16_black.jpg" alt="violence" class="avert-img">
                <img src="../assets/img/footer/violence-black-FR.jpg" alt="achat" class="avert-img">
            </div>
            <div class="ctn-copyright">
                <p class="copyright">© 2022 Riot Games, Inc.  Riot Games, VALORANT et tous les logos associés sont des marques, des marques de service et/ou des marques déposées de Riot Games, Inc.</p>
            </div>  
        </div>      
    </footer>
</body>
</html>