<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/CSS/navbar.css">
    <link rel="stylesheet" href="../assets/CSS/footer.css">
    <link rel="stylesheet" href="../assets/CSS/scrollbar.css">
    <link rel="stylesheet" href="../assets/CSS/skin.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div>
                <a href="../index.html"><img src="../assets/img/valorant-logo-1.png" alt="logo" class="logo-navbar"></a>
            </div>
            <div class="nav">
                <a id="link" href="#"><span id="burger"></span></a>
                <ul class="ctn-btn">
                    <li><a class="btn" href="skin.html">Pack Skin</a></li>
                    <li><a class="btn" href="maps.html">Maps</a></li>
                    <li><a class="btn" href="agents.html">Agents</a></li>
                    <li><a class="btn"  href="arsenal.html">Arsenal</a></li>
                    <li><a class="btn"  href="Timeline.html">Histoire</a></li>

                </ul>
            </div>
        </div>    
        <script src="../assets/JS/navbar.js"></script>    
    </header>

    <div class="placement">
        <p class="text-car">Pack de skin VCT</p>
        <div class="slider-container">
            <div class="slider-wrapper">
                <img src="../assets/img/skin/1.png" alt="Image 1">
                <img src="../assets/img/skin/2.png" alt="Image 2">
                <img src="../assets/img/skin/3.png" alt="Image 3">
                <img src="../assets/img/skin/4.png" alt="Image 3">
            </div>
        </div>
    </div>

    <footer>
        <div class="ctn-gen">
            <div class="ctn-logo">
                <img src="../assets/img/footer/1280px-Valorant_logo_-_pink_color_version.svg.png" alt="logo" class="logo-footer">
            </div>
            <div class="ctn-img">
                <img src="../assets/img/footer/achat-intégrés.jpg" alt="pegi" class="avert-img">
                <img src="../assets/img/footer/pegi_16_black.jpg" alt="violence" class="avert-img">
                <img src="../assets/img/footer/violence-black-FR.jpg" alt="achat" class="avert-img">
            </div>
            <div class="ctn-copyright">
                <p class="copyright">© 2022 Riot Games, Inc.  Riot Games, VALORANT et tous les logos associés sont des marques, des marques de service et/ou des marques déposées de Riot Games, Inc.</p>
            </div>  
        </div>      
    </footer>
</body>
</html>    