body {
    background-color: #111;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


table, th, td {
    border: 1px solid aqua;
    border-collapse: collapse;
    padding: 5px;
}
