
body {
    background-color: #111;
    color: white;
}

.scrollbar-containeur {
    height: 500px;
    overflow-y: scroll;
}

.scrollbar-containeur::-webkit-scrollbar {
    width: 10px; 
}
  
.scrollbar-containeur::-webkit-scrollbar-thumb {
    background-color: #ccc; 
    border-radius: 5px; 
}
  
.scrollbar-containeur::-webkit-scrollbar-thumb:hover {
    background-color: #FF4655; 
}