*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'test', sans-serif;
}

.placement {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
}

.dropdown {
    display: inline-block;
}

.btn-dropdown {
    background-color: #111;
    border-color:#FF4655 ;
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 19vh;
    height: 5vh;
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: sans-serif;
}
  
.menu {
    display: none;
}
  
.btn-dropdown .menu {
    display: block;
}
  
.dropdown .btn-dropdown {
    width: fit-content;
    height: fit-content
}
  
.dropdown .menu {
    background-color: #111;
    width: fit-content;
    height: fit-content
}
  
.dropdown .menu li {
    display: block;
    position: relative;
}
  
.dropdown .menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    width: 19vh;
    border: #FF4655 solid 1px;
    border-radius: 5px;
}
  
.dropdown .menu li ul {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #111;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}
  
.dropdown .menu li ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}
  
.dropdown:hover .menu {
    display: block;
}

.dropdown .menu li:hover ul {
    display: block;
}
  
.dropdown .menu li a:hover {
    background-color: #FF4655;
}

.agent-class {
    background-color:#111;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-class {
    margin-bottom: 50px;
    width: 600px;
    height: 600px;
}

.text-class {
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    margin-left: 60px;
    margin-right: 30px;
}

.page-agent {
    background-color: #111;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agent-image {
    width: 500px;
    height: 750px;
}

.agent-name {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color:#FF4655;
    margin-right: 50px;
}

.btn-class {
    background-color: #FF4655;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width:1200px) {
    .img-class {
        margin-bottom: 40px;
        width: 400px;
        height: 400px;
    }

    .text-class {
        font-size: 25px;
        margin-left: 40px;
        margin-right: 20px;
    }

    .agent-image {
        width: 400px;
        height: 600px;
    }
}

@media screen and (max-width:1200px) {
    .img-class {
        margin-bottom: 30px;
        width: 200px;
        height: 200px;
    }

    .text-class {
        font-size: 20px;
        margin-left: 30px;
        margin-right: 10px;
    }

    .agent-image {
        width: 200px;
        height: 300px;
    }
}

