::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background: #ff45673a;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff4567;
}