* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    font-family: sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    width: 300px;
    margin: 30px auto;
}
  
.line{
    padding: 5px 0 5px 30px;
    border-left: 3px solid #FF4655;
}
  
p{
    font-family: 12px;
    text-align: center;
    width:500px;
    padding: 10px;
    border:1px solid #FF4655;
    color: #fff;
    margin: 20px 0;
    position: relative;
}
  
p:before{
    content: '';
    position: absolute;
    left: -40px;
    top: 7px;
    width: 10px;
    height: 10px;
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: #FF4655;
}
  
p:after{
    content: '';
    position: absolute;
    left: -18px;
    top: 7px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 10px solid #FF4655;
}
